body{
  background: rgba(68, 0, 255, 0.767);
  
}

.logotype{
  height:120px;
  position:absolute;
  left:initial;
  top: auto;
  grid-column:1/4;
  grid-row:1;
  margin:auto;
  
  
  }
.skyline{
  background-image:relative;
  height:300px;
  width:100%;
  margin:auto;
}
.head1{
  position:absolute;
  margin-left: 45%;
  margin-top:-50px;
  color:rgb(29, 6, 114);
  
}


.navbar{
  list-style-type:none;
  width:80%;
  margin:auto;
  padding:10px;
  background-color:rgba(33, 33, 163, 0.514);
  display:flex;
  justify-content: space-between;
  flex-direction:row;
  margin-bottom:20px;

  
  
}
.text{
  font-family:comic sans-serif;
}
.text li a:hover:active{
  background-color:green;
}

a{
  color:white;
  text-decoration-line:none;
  font-family: sans-serif;
}
.dropbtn {
  background-color:rgba(33, 33, 163, 0.514);
  color: white;
  padding: 0px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  gap:10px 15px∫;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
main{
  width:80%;
  margin:auto;
}

main.eventos{
  display:grid;
  grid-auto-columns: 4;
  grid-row:auto;
  margin-top:5px;
  text-align:center;
  
}
.head{
  grid-column:1/4;
  padding-bottom:10px;
  color:white;
  font-family:cursive;
  font-size: 1.5rem;
  

}
.event1{
  grid-column:1;
  display:flex;
  flex-direction:column;
  color:white;
  
}
.event2{
  grid-column:2;
  display:flex;
  flex-direction:column;
  color:white;
}
.event3{
  grid-column:3;
  display:flex;
  flex-direction:column;
  color:white;
    
}
.date{
  font-size:3em;
}
.day, .type{
  font-size:2em;
}
.modality{
  font-size:1.5em;
}
.boton{
  order:7;
  background-color:blue;
  height:35px;
  border-style:groove;
  border:none;
  font-style:italic;
  color:white;
  size:15px;
  
  
}

.footer{
  margin-top:50px;
  font-size:0.7rem;
  text-align:center;
  color:white;
  font-size:0.7rem;
}
main.presentaciones{
  display:grid;
  grid-template-columns:repeat (3, auto);
  color:lightblue;
  padding:40px;
  width:80%;
   
}
.head2{
  grid-column:1/4;
  grid-row:1;
  text-align:center;
  color:white;
  font-size:3em;
}
.intro{
  grid-column:1/4;
  grid-row:2;
  text-align:center;
  color:white;
  font-size:1.7em;
}
.lluis{
  height:100px;
  width:100px;
  border-radius:40px;
  align-content:center;
  padding:30px;
  
  
}
.lluisgarcia{
  grid-column:2;
  grid-row:3;
  font-size:2em;
  color:wheat;
  align-content:center;
  padding:30px;
  

}

.lluispresentation{
  grid-column:3;
  grid-row:3;
  font-size:1.5em;
  align-content:center;
  color:white;
  padding:30px;
  
}
.berto{
  height:100px;
  width:100px;
  border-radius:40px;
  align-content:center;
  padding:30px;
}
  
.bertodavila{
  grid-column:2;
  grid-row:5;
  font-size:2em;
  color:wheat;
  align-content:center;
  padding:30px;
}
.bertopresentation{
  grid-column:3;
  grid-row:5;
  font-size:1.5em;
  align-content:center;
  color:white;
  padding:30px;
}
.Fer{
  height:100px;
  width:100px;
  border-radius:40px;
  align-content:center;
  padding:30px;
}

.ferdossantos{
  grid-column:2;
  grid-row:4;
  font-size:2em;
  color:wheat;
  align-content:center;
  padding:30px;
}

.ferpresentation{
  grid-column:3;
  grid-row:4;
  font-size:1.5em;
  align-content:center;
  color:white;
  padding:30px;
}
  
.alumnos, th, td{
  color:white;
  border: 2px double rgb(218, 158, 47);
  caption-side:top;
  text-align:center;
}
.alumnos{
  width:100%;
  height:300px;
  overflow-x:auto;
}
th{
    font-size:1.5em;
    
}
td{
    font-size:medium;
    font-family:cursive;
}
caption{
    font-size:3em;
    font-family:monospace;
    padding:1rem 1rem 1.5rem 0rem;
    color:wheat;
}
.tittle1{
  margin-left:70px;
  margin-top:50px;
  font-size: 2.1em;
  color:wheat;
  text-align:center;
}
.curso{
  display:flex;
  list-style-type:decimal;
  color:white;
  list-style-position:center;
  flex-direction:column;
  align-items:center;
  
  
   
}
.tipos{
   list-style-type:lower-latin;
  
  

}
dt{
  color:khaki;
  list-style-type:decimal;
  font-size:large;
  text-align:center;
  padding:20px;
}
dd{
  color:white;
  text-align:center;
}
form section{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly;
  color:khaki;
  padding:20px;
  
}

form section div input{
  width:100%;
}
.comentarios{
  width:100%;
  flex-wrap:wrap;
  
}
.comentarios input{
  height:30mm;
  flex-wrap:wrap;
  
}

  





@media screen and (max-width:767px){
  .logotype{
    height:50px;
    position:absolute;
    left:initial;
    top: auto;
    grid-column:1/4;
    grid-row:1;
    
    }
  .skyline{
    background-image:relative;
    height:120px;
    width:100%;
  }
  
  .head1{
    position:absolute;
    margin-left: 30%;
    margin-top: -25px;
    font-size:1em;
  }
 .dropbtn {
    
    font-size:1em;
  }
  
  .navbar{
    display:flex;
    font-size:1em;
    width:90%;
  }
  .head{
    font-size:1.2em;
    margin-top:25px;
  }
  
  .head2{
    font-size:1.5em;
    margin-top:-40px;
  }
  main.eventos{
    display:flex;
    flex-direction:column;
  }
  .event1{
    margin-bottom:30px;
    padding:10px;
  }
  .event2{
    margin-bottom:30px;
  }
  .date{
    font-size: 1.5em;
  }
  .day, .modality, .type{
    font-size:1em;
  }
  
  
  .alumnos{
    width:100%;
    height:300px;
    overflow-x:auto;
  }
  th{
      font-size:1em;
      
  }
  td{
      font-size:small;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  caption{
      font-size:1em;
      
  }
  .tittle1{
    font-size:large;
  }
   
  main.presentaciones{
    display:flex;
    flex-direction:column;
    
  }
  .intro{
    font-size:1.2em;
  }
  
  .lluis, .lluisgarcia,.lluispresentation{
    padding:0px;
    margin-top:10px;
    font-size:1.2em;
    align-self:center;
    
  }
  .berto,.bertodavila,.bertopresentation{
    padding:0px;
    margin-top:10px;
    font-size:1.2em;
    align-self:center;
  }
  .Fer, .ferdossantos,.ferpresentation{
    padding:0px;
    margin-top:10px;
    font-size:1.2em;
    align-self:center;
  }
  .alumnos{
    zoom:70%;
  }
  form section{
    display:flex;
    flex-direction:column;
  }
  .comentarios{
    width:100%;
  }
}